{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'authentication/password_reset.css' %}">
</head>

<body>
    <h3>Password Reset Complete</h3>

    <p>Your password has been reset. You may go ahead and sign in now.</p>

    <a href="/signin">
        <button class="sign-in-button">Sign In</button>
    </a>
</body>

</html>