{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Authentication</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "authentication/password_reset.css" %}'>
</head>

<body>
  <h3>Password Reset</h3>

  <p>Forgot your password? Enter your email and we will send you resetting instructions.</p>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form }}
    </div>
    <button type="submit" class="submit-button">Send email</button>
  </form>
</body>

</html>